
* {

    outline: none !important;

}

div.dataTables_paginate span > span {

    float: left;

    border-radius: 0px;

    -moz-border-radius: 0px;

}

button::-moz-focus-inner,

input[type="reset"]::-moz-focus-inner,

input[type="button"]::-moz-focus-inner,

input[type="submit"]::-moz-focus-inner,

input[type="file"] > input[type="button"]::-moz-focus-inner {

    border: 1px dotted transparent !important;

}

button:focus::-moz-focus-inner,

input[type="reset"]:focus::-moz-focus-inner,

input[type="button"]:focus::-moz-focus-inner,

input[type="submit"]:focus::-moz-focus-inner,

input[type="file"] > input[type="button"]:focus::-moz-focus-inner {

    padding: 3px !important;

    border-color: #F3F3F3 !important;

}

div#results {

    min-height: 400px;

    height: 100%;

}

textarea {

    font-size: 18px !important;

    font-family: courier !important;

    border-radius: 3px;

}

table.display thead th div.DataTables_sort_wrapper {

    position: relative;

    padding-right: 20px;

    padding-right: 20px;

}

table.display thead th div.DataTables_sort_wrapper span {

    position: absolute;

    top: 50%;

    margin-top: -8px;

    right: 0;

}

.dataTables_wrapper {

    border: solid 1px #fff;

    border-radius: 5px;

    padding: 5px;

}

.dataTables_scroll {

    overflow: auto;

    width: 100%;

}

.ui-buttonset-multi {

    overflow: auto;

}

table tr td,

table thead tr th {

    text-align: center;

}

table {} .dataTables_scrollHeadInner table div.DataTables_sort_wrapper {

    vertical-align: middle;

    height: 20px !important;

}

.dataTables_scrollHeadInner table div.DataTables_sort_wrapper:hover {

    cursor: hand;

}

.dataTables_scrollHeadInner table div.DataTables_sort_wrapper span {

    position: inline-block;

    vertical-align: top;

    height: 15px;

    margin-top: -12px;

}

.Aligner {

    display: flex;

    align-items: center;

    justify-content: center;

}

#sqlEditor {

    margin: 0;

    position: fixed;

    top: 150px;

    bottom: 30px;

    left: 10px;

    right: 10px;

}

.DTTT_container {

    background-color: #fff;

}